.container{
    display: grid;
    border: 1px solid black;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px;
}
.child1{
    background-color: yellow;
    grid-row: 1/4;
    grid-column: 1/3;
}
.child5{
    background-color: green;
    grid-row: 4/5;
    grid-column: 1/4;

}
.child3{
    background-color: skyblue;
    grid-column: 3/6;
    grid-row: 2/4;
}
.child4{
    background-color: violet;
    grid-row: 1;
    grid-column: 3/6;
}
.child2{
    background-color: black;
    grid-row:5/2;
    grid-column: 4/6;
}